/* body */
body {
	background: #dedede;
	font-family: Meiryo;
}

#pack {
	width: 1100px;
	margin-left:50px;
}

p{
	font-size:12pt;
}

ul{
	margin-top: 10px;
	list-style-type: decimal;
	line-height: 22pt;
}

#a123 {
	/*border: solid #FF0000;*/
  width:1100px;
	margin-left: 50px;
	margin-right: 50px;
	/*text-align: center;	*/
	font-color: #FF0000;
	
	font-size: 12pt;
}

#Main_Container{
	/*border: solid 1px #00FF00;*/
	width: 1100px;
	font-size: 10pt;
	font-family: Meiryo;
}

#Menu_Container{
	/*border: solid 1px #0000FF;*/
	width: 1100px;
	height: 320px;
	clear: both;
	margin-top: 20px;
	padding-bottom: 30px;
	border-top: solid 1px #000000;
	border-bottom: solid 1px #000000;
}



#Menu_Container ul{
	line-height: 22px;
}

#Menu_Container a{
	color: #222222;
Å@text-decoration: none;
}

#Menu_Container a:hover{
	color: #FF0000;
Å@text-decoration: none;
}

#Container1{
	/*border: solid 1px #FF0000;*/
	float: left;
	width: 340px;
	font-size: 10pt;
	font-family: Meiryo;
	margin-left: 20px;
	color: #777777;
}

#Container1 a{
	text-decoration: none;
}

#Container1 a:hover{
	text-decoration: underline;
}

#Container2{
	/*border: solid 1px #FF0000;*/
	float: left;
	width: 280px;
	font-size: 10pt;
	font-family: Meiryo;
	margin-left: 30px;
	color: #777777;
}

#Container2 a{
	text-decoration: none;
}

#Container2 a:hover{
	text-decoration: underline;
}


#Container3{
	/*border: solid 1px #FF0000;*/
 	float: left;
	width: 300px;
	font-size: 10pt;
	font-family: Meiryo;
	margin-left: 30px;
	color: #777777;
}

#Container3 a{
	text-decoration: none;
}

#Container3 a:hover{
	text-decoration: underline;
}


clear {
	clear: both;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

.title {
	font-size: 12pt;
}

#Grossary ul{
	font-size: 10pt;
	padding-left: 30px;
}

#Grossary li{
	font-size: 10pt;
	padding-left: 40px
}